h1 {
    text-align: center;
    color: orange;

}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}



#lengths p {
    font-size: 16px;
    height: 100px;
    margin: 20px;
    text-align: right;
}

#links a {
    display: block;
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

#container text-center {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

.Joji {
    height: 150px;
    width: 200px;
}

.joji1 {
    margin-left: 220px;
    font-size: 20px;
    margin-bottom: -490px;
    margin-top: -100px;
    color: black;
}

.joji2 {
    margin-top: -500px;
    font-size: 20px;
    margin-left: 560px;
    color: black;
}

.rising {
    height: 190px;
    margin-top: 100px;
    width: 280px;
}

.rising1 {
    font-size: 20px;
    margin-bottom: -490px;
    margin-top: -120px;
    margin-left: 300px;
    color: black;
}

.rising2 {
    color: black;
    margin-right: 100px;
    font-size: 20px;
    margin-left: 560px;
    margin-top: 140px;
}

.peep {
    height: 200px;
    margin-top: 600px;
}

.peep1 {
    color: black;
    font-size: 20px;
    margin-left: 300px;
    margin-top: -100px;
}

.peep2 {
    font-size: 20px;
    color: black;
    margin-top: 200px;
    margin-left: 520px;
}

.first {
    font-size: 20px;
    margin-left: 900px;
}
